.DS_Store

application/cache/*
!application/cache/index.html

application/logs/*
!application/logs/index.html

!application/*/.htaccess

composer.lock

application/config/database.php
user_guide_src/build/*
user_guide_src/cilexer/build/*
user_guide_src/cilexer/dist/*
user_guide_src/cilexer/pycilexer.egg-info/*

# IDE Files
#-------------------------
/nbproject/
.idea/*

## Sublime Text cache files
*.tmlanguage.cache
*.tmPreferences.cache
*.stTheme.cache
*.sublime-workspace
*.sublime-project
/tests/tests/
/tests/results/
application/config/autoload.php
application/config/config.php
.vscode/launch.json
application/modules/dashboard/views/index.php
documents/lorem-ipsum_-_1.pdf
documents/lorem-ipsum_-_2.pdf
documents/lorem-ipsum_-_3.pdf
documents/lorem-ipsum_-_4.pdf
documents/lorem-ipsum_-_5.pdf
documents/lorem-ipsum_-_11.pdf
documents/lorem-ipsum_-_12.pdf
documents/lorem-ipsum_-_21.pdf
documents/lorem-ipsum_-_22.pdf
documents/lorem-ipsum_-_31.pdf
documents/lorem-ipsum_-_32.pdf
