USE [baragud]
GO
/****** Object:  Table [dbo].[TB_S_MST_MATA_UANG]    Script Date: 25/07/2022 20:33:10 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TB_S_MST_MATA_UANG](
	[kode_uang] [char](5) NOT NULL,
	[deskripsi] [char](40) NULL,
PRIMARY KEY CLUSTERED 
(
	[kode_uang] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[TB_S_MST_MATA_UANG] ([kode_uang], [deskripsi]) VALUES (N'ADP  ', N'Andorran Peseta --> (Old --> EUR)       ')
INSERT [dbo].[TB_S_MST_MATA_UANG] ([kode_uang], [deskripsi]) VALUES (N'AED  ', N'United Arab Emirates Dirham             ')
INSERT [dbo].[TB_S_MST_MATA_UANG] ([kode_uang], [deskripsi]) VALUES (N'AFA  ', N'Afghani (Old)                           ')
GO
