USE [baragud]
GO
/****** Object:  Table [dbo].[TB_S_MST_SATUAN]    Script Date: 25/07/2022 19:58:51 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TB_S_MST_SATUAN](
	[satuan] [char](3) NOT NULL,
	[deskripsi_satuan] [char](10) NULL,
 CONSTRAINT [PK_TB_S_MST_SATUAN] PRIMARY KEY CLUSTERED 
(
	[satuan] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[TB_S_MST_SATUAN] ([satuan], [deskripsi_satuan]) VALUES (N'%  ', N'%         ')
INSERT [dbo].[TB_S_MST_SATUAN] ([satuan], [deskripsi_satuan]) VALUES (N'%O ', N'%0        ')
INSERT [dbo].[TB_S_MST_SATUAN] ([satuan], [deskripsi_satuan]) VALUES (N'1  ', N'One       ')
GO
