USE [baragud]
GO
/****** Object:  Table [dbo].[TB_S_MST_KONFIRMASI]    Script Date: 24/09/2022 15:07:13 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TB_S_MST_KONFIRMASI](
	[kode_konfirmasi] [int] NOT NULL,
	[tanggal_kirim] [date] NULL,
	[kode_vendor] [char](10) NULL,
	[nama_vendor] [char](40) NULL,
	[harga_po_terakhir] [decimal](13, 2) NULL,
	[mata_uang_po_terakhir] [char](5) NULL,
	[nomor_pr] [char](10) NULL,
	[item_pr] [int] NULL,
	[kode_material] [char](18) NULL,
	[deskripsi] [char](40) NULL,
	[jumlah] [decimal](13, 3) NULL,
	[harga] [decimal](13, 2) NULL,
	[mata_uang] [char](5) NULL,
	[satuan] [char](3) NULL,
	[konfirmasi_status] [char](1) NULL,
	[jumlah_tersedia] [decimal](13, 3) NULL,
	[jumlah_inden] [decimal](13, 3) NULL,
	[lama_inden] [int] NULL,
	[pesan_ulang] [char](1) NULL,
	[modified_date] [datetime] NULL,
	[modified_by] [char](12) NULL,
	[flag_kirim] [bit] NULL,
 CONSTRAINT [PK_TB_S_MST_KONFIRMASI] PRIMARY KEY CLUSTERED 
(
	[kode_konfirmasi] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TB_S_MST_MATA_UANG]    Script Date: 24/09/2022 15:07:13 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TB_S_MST_MATA_UANG](
	[kode_uang] [char](5) NOT NULL,
	[deskripsi] [char](40) NULL,
PRIMARY KEY CLUSTERED 
(
	[kode_uang] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TB_S_MST_NEGARA]    Script Date: 24/09/2022 15:07:13 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TB_S_MST_NEGARA](
	[kode_negara] [char](3) NOT NULL,
	[nama] [char](50) NULL,
	[deletion] [char](1) NULL,
	[modified_date] [datetime] NULL,
	[modified_by] [char](12) NULL,
 CONSTRAINT [PK_TB_S_MST_NEGARA] PRIMARY KEY CLUSTERED 
(
	[kode_negara] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TB_S_MST_NEGO_BARANG_DTL]    Script Date: 24/09/2022 15:07:13 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TB_S_MST_NEGO_BARANG_DTL](
	[nomor_rfq] [char](10) NOT NULL,
	[urutan_rfq] [char](5) NOT NULL,
	[kode_barang] [varchar](18) NULL,
	[deskripsi_barang] [varchar](40) NULL,
	[deskripsi] [text] NULL,
	[jumlah_permintaan] [decimal](13, 3) NULL,
	[satuan] [char](3) NULL,
	[deskripsi_satuan] [char](10) NULL,
	[nomor_sr] [varchar](30) NULL,
	[kode_kebun] [char](2) NULL,
	[jumlah_tersedia] [decimal](13, 3) NULL,
	[jumlah_inden] [decimal](13, 3) NULL,
	[lama_inden] [int] NULL,
	[mata_uang] [char](3) NULL,
	[harga_satuan] [decimal](13, 2) NULL,
	[per_harga_satuan] [varchar](30) NULL,
	[harga_satuan_nego] [decimal](13, 2) NULL,
	[keterangan_nego] [text] NULL,
	[konversi] [char](1) NULL,
	[jumlah_konversi] [decimal](13, 3) NULL,
	[satuan_konversi] [varchar](30) NULL,
	[ketersediaan_barang] [char](1) NULL,
	[masa_berlaku_harga] [date] NULL,
	[keterangan] [varchar](100) NULL,
	[dibuat_oleh] [varchar](30) NULL,
	[modified_date] [datetime] NULL,
	[modified_by] [char](12) NULL,
 CONSTRAINT [PK_TB_S_MST_NEGO_BARANG_DTL] PRIMARY KEY CLUSTERED 
(
	[nomor_rfq] ASC,
	[urutan_rfq] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TB_S_MST_NEGO_BARANG_EQIV]    Script Date: 24/09/2022 15:07:13 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TB_S_MST_NEGO_BARANG_EQIV](
	[nomor_rfq] [char](10) NOT NULL,
	[urutan_rfq] [char](5) NOT NULL,
	[ekuivalen] [char](1) NOT NULL,
	[kode_barang] [varchar](18) NULL,
	[deskripsi_barang] [varchar](40) NULL,
	[deskripsi] [text] NULL,
	[jumlah_permintaan] [decimal](13, 3) NULL,
	[satuan] [char](3) NULL,
	[deskripsi_satuan] [char](10) NULL,
	[nomor_sr] [varchar](30) NULL,
	[kode_kebun] [char](2) NULL,
	[spesifikasi] [text] NULL,
	[merek] [varchar](30) NULL,
	[tipe] [varchar](30) NULL,
	[buatan] [varchar](30) NULL,
	[jumlah_tersedia] [decimal](13, 3) NULL,
	[jumlah_inden] [decimal](13, 3) NULL,
	[lama_inden] [int] NULL,
	[mata_uang] [char](3) NULL,
	[harga_satuan] [decimal](13, 2) NULL,
	[per_harga_satuan] [varchar](30) NULL,
	[harga_satuan_nego] [decimal](13, 2) NULL,
	[keterangan_nego] [text] NULL,
	[konversi] [char](1) NULL,
	[jumlah_konversi] [decimal](13, 3) NULL,
	[satuan_konversi] [varchar](30) NULL,
	[ketersediaan_barang] [char](1) NULL,
	[masa_berlaku_harga] [date] NULL,
	[keterangan] [varchar](100) NULL,
	[dibuat_oleh] [varchar](30) NULL,
	[modified_date] [datetime] NULL,
	[modified_by] [char](12) NULL,
 CONSTRAINT [PK_TB_S_MST_NEGO_BARANG_EQIV] PRIMARY KEY CLUSTERED 
(
	[nomor_rfq] ASC,
	[urutan_rfq] ASC,
	[ekuivalen] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TB_S_MST_NEGO_BARANG_HEAD]    Script Date: 24/09/2022 15:07:13 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TB_S_MST_NEGO_BARANG_HEAD](
	[nomor_rfq] [char](10) NOT NULL,
	[tanggal_rfq] [datetime] NULL,
	[nomor_ph] [char](10) NULL,
	[tanggal_jatuh_tempo] [datetime] NULL,
	[kode_vendor] [char](10) NULL,
	[nama_vendor] [varchar](40) NULL,
	[modified_date] [datetime] NULL,
	[modified_by] [char](12) NULL,
 CONSTRAINT [PK_TB_S_MST_NEGO_BARANG_HEAD] PRIMARY KEY CLUSTERED 
(
	[nomor_rfq] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TB_S_MST_NEGO_BIAYA_TAMBAHAN]    Script Date: 24/09/2022 15:07:13 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TB_S_MST_NEGO_BIAYA_TAMBAHAN](
	[nomor_rfq] [char](10) NOT NULL,
	[kode_biaya] [char](4) NOT NULL,
	[deskripsi_biaya] [text] NULL,
	[jumlah_biaya] [decimal](13, 2) NULL,
	[jumlah_biaya_nego] [decimal](13, 2) NULL,
	[mata_uang] [char](5) NULL,
	[keterangan] [text] NULL,
 CONSTRAINT [PK_TB_S_MST_NEGO_BIAYA_TAMBAHAN] PRIMARY KEY CLUSTERED 
(
	[nomor_rfq] ASC,
	[kode_biaya] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TB_S_MST_NEGO_LAMPIRAN_BARANG]    Script Date: 24/09/2022 15:07:13 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TB_S_MST_NEGO_LAMPIRAN_BARANG](
	[nomor_rfq] [char](10) NOT NULL,
	[kode_barang] [varchar](18) NOT NULL,
	[alamat_berkas] [text] NULL,
	[nama_berkas] [text] NULL,
	[sudah_gabung] [char](1) NULL,
	[modified_date] [datetime] NULL,
	[modified_by] [char](12) NULL,
 CONSTRAINT [PK_TB_S_MST_NEGO_LAMPIRAN_BARANG] PRIMARY KEY CLUSTERED 
(
	[nomor_rfq] ASC,
	[kode_barang] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TB_S_MST_PENGGUNA]    Script Date: 24/09/2022 15:07:13 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TB_S_MST_PENGGUNA](
	[kode_vendor] [char](10) NOT NULL,
	[sandi] [varchar](255) NULL,
	[nama] [char](50) NULL,
	[deletion] [char](1) NULL,
	[first_login] [int] NULL,
	[modified_date] [datetime] NULL,
	[modified_by] [char](12) NULL,
 CONSTRAINT [PK_TB_S_MST_PENGGUNA] PRIMARY KEY CLUSTERED 
(
	[kode_vendor] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TB_S_MST_PROVINSI]    Script Date: 24/09/2022 15:07:13 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TB_S_MST_PROVINSI](
	[kode_provinsi] [char](3) NOT NULL,
	[nama] [char](50) NULL,
	[deletion] [char](1) NULL,
	[modified_date] [datetime] NULL,
	[modified_by] [char](12) NULL,
 CONSTRAINT [PK_TB_S_MST_PROVINSI] PRIMARY KEY CLUSTERED 
(
	[kode_provinsi] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TB_S_MST_RFQ_BARANG_DTL]    Script Date: 24/09/2022 15:07:13 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TB_S_MST_RFQ_BARANG_DTL](
	[nomor_rfq] [char](10) NOT NULL,
	[urutan_rfq] [char](5) NOT NULL,
	[kode_barang] [varchar](18) NULL,
	[deskripsi_barang] [varchar](40) NULL,
	[deskripsi] [text] NULL,
	[jumlah_permintaan] [decimal](13, 3) NULL,
	[satuan] [char](3) NULL,
	[deskripsi_satuan] [char](10) NULL,
	[nomor_sr] [varchar](30) NULL,
	[kode_kebun] [char](2) NULL,
	[jumlah_tersedia] [decimal](13, 3) NULL,
	[jumlah_inden] [decimal](13, 3) NULL,
	[lama_inden] [int] NULL,
	[mata_uang] [char](3) NULL,
	[harga_satuan] [decimal](13, 2) NULL,
	[per_harga_satuan] [varchar](30) NULL,
	[konversi] [char](1) NULL,
	[jumlah_konversi] [decimal](13, 3) NULL,
	[satuan_konversi] [varchar](30) NULL,
	[ketersediaan_barang] [char](1) NULL,
	[masa_berlaku_harga] [date] NULL,
	[keterangan] [varchar](100) NULL,
	[dibuat_oleh] [varchar](30) NULL,
	[modified_date] [datetime] NULL,
	[modified_by] [char](12) NULL,
 CONSTRAINT [PK_TB_S_MST_RFQ_BARANG_DTL] PRIMARY KEY CLUSTERED 
(
	[nomor_rfq] ASC,
	[urutan_rfq] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TB_S_MST_RFQ_BARANG_EQIV]    Script Date: 24/09/2022 15:07:13 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TB_S_MST_RFQ_BARANG_EQIV](
	[nomor_rfq] [char](10) NOT NULL,
	[urutan_rfq] [char](5) NOT NULL,
	[ekuivalen] [char](1) NOT NULL,
	[kode_barang] [varchar](18) NULL,
	[deskripsi_barang] [varchar](40) NULL,
	[deskripsi] [text] NULL,
	[jumlah_permintaan] [decimal](13, 3) NULL,
	[satuan] [char](3) NULL,
	[deskripsi_satuan] [char](10) NULL,
	[nomor_sr] [varchar](30) NULL,
	[kode_kebun] [char](2) NULL,
	[spesifikasi] [text] NULL,
	[merek] [varchar](30) NULL,
	[tipe] [varchar](30) NULL,
	[buatan] [varchar](30) NULL,
	[jumlah_tersedia] [decimal](13, 3) NULL,
	[jumlah_inden] [decimal](13, 3) NULL,
	[lama_inden] [int] NULL,
	[mata_uang] [char](3) NULL,
	[harga_satuan] [decimal](13, 2) NULL,
	[per_harga_satuan] [varchar](30) NULL,
	[konversi] [char](1) NULL,
	[jumlah_konversi] [decimal](13, 3) NULL,
	[satuan_konversi] [varchar](30) NULL,
	[ketersediaan_barang] [char](1) NULL,
	[masa_berlaku_harga] [date] NULL,
	[keterangan] [varchar](100) NULL,
	[dibuat_oleh] [varchar](30) NULL,
	[modified_date] [datetime] NULL,
	[modified_by] [char](12) NULL,
 CONSTRAINT [PK_TB_S_MST_RFQ_BARANG_EQIV] PRIMARY KEY CLUSTERED 
(
	[nomor_rfq] ASC,
	[urutan_rfq] ASC,
	[ekuivalen] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TB_S_MST_RFQ_BARANG_HEAD]    Script Date: 24/09/2022 15:07:13 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TB_S_MST_RFQ_BARANG_HEAD](
	[nomor_rfq] [char](10) NOT NULL,
	[tanggal_rfq] [datetime] NULL,
	[nomor_ph] [char](10) NULL,
	[tanggal_jatuh_tempo] [datetime] NULL,
	[kode_vendor] [char](10) NULL,
	[nama_vendor] [varchar](40) NULL,
	[modified_date] [datetime] NULL,
	[modified_by] [char](12) NULL,
 CONSTRAINT [PK_TB_S_MST_RFQ_BARANG_HEAD] PRIMARY KEY CLUSTERED 
(
	[nomor_rfq] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TB_S_MST_RFQ_BIAYA_TAMBAHAN]    Script Date: 24/09/2022 15:07:13 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TB_S_MST_RFQ_BIAYA_TAMBAHAN](
	[nomor_rfq] [char](10) NOT NULL,
	[kode_biaya] [char](4) NOT NULL,
	[deskripsi_biaya] [text] NULL,
	[jumlah_biaya] [decimal](13, 2) NULL,
	[mata_uang] [char](5) NULL,
	[keterangan] [text] NULL,
 CONSTRAINT [PK_TB_S_MST_RFQ_BIAYA_TAMBAHAN] PRIMARY KEY CLUSTERED 
(
	[nomor_rfq] ASC,
	[kode_biaya] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TB_S_MST_RFQ_LAMPIRAN_BARANG]    Script Date: 24/09/2022 15:07:13 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TB_S_MST_RFQ_LAMPIRAN_BARANG](
	[nomor_rfq] [char](10) NOT NULL,
	[kode_barang] [varchar](18) NOT NULL,
	[alamat_berkas] [text] NULL,
	[nama_berkas] [text] NULL,
	[sudah_gabung] [char](1) NULL,
	[modified_date] [datetime] NULL,
	[modified_by] [char](12) NULL,
 CONSTRAINT [PK_TB_S_MST_RFQ_LAMPIRAN_BARANG] PRIMARY KEY CLUSTERED 
(
	[nomor_rfq] ASC,
	[kode_barang] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TB_S_MST_SATUAN]    Script Date: 24/09/2022 15:07:13 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TB_S_MST_SATUAN](
	[satuan] [char](3) NOT NULL,
	[deskripsi_satuan] [char](10) NULL,
 CONSTRAINT [PK_TB_S_MST_SATUAN] PRIMARY KEY CLUSTERED 
(
	[satuan] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TB_S_MST_VENDOR]    Script Date: 24/09/2022 15:07:13 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TB_S_MST_VENDOR](
	[kode_vendor] [varchar](10) NOT NULL,
	[tanggal_registrasi] [datetime] NULL,
	[nama_perusahaan] [varchar](200) NULL,
	[no_surat_rekanan] [varchar](20) NULL,
	[no_sppkp] [char](20) NULL,
	[alamat_perusahaan] [char](60) NULL,
	[kode_negara] [char](3) NULL,
	[kode_provinsi] [char](3) NULL,
	[kabkot] [char](50) NULL,
	[no_telepon] [char](20) NULL,
	[no_hp] [char](20) NULL,
	[no_fax] [char](20) NULL,
	[email_perusahaan] [varchar](241) NULL,
	[email_lainnya] [varchar](241) NULL,
	[no_npwp] [char](25) NULL,
	[nama_npwp] [char](35) NULL,
	[nama_bank] [char](50) NULL,
	[alamat_npwp] [char](60) NULL,
	[bidang_utama] [char](30) NULL,
	[bidang_usaha] [char](30) NULL,
	[nama_marketing] [char](35) NULL,
	[no_hp_marketing] [char](20) NULL,
	[no_ar] [char](20) NULL,
	[no_hp_ar] [char](20) NULL,
	[kode_pos] [char](5) NULL,
	[rekening01] [char](18) NULL,
	[atas_nama01] [char](60) NULL,
	[mata_uang01] [char](5) NULL,
	[nama_bank01] [char](60) NULL,
	[rekening02] [char](18) NULL,
	[atas_nama02] [char](60) NULL,
	[mata_uang02] [char](5) NULL,
	[nama_bank02] [char](60) NULL,
	[rekening03] [char](18) NULL,
	[atas_nama03] [char](60) NULL,
	[mata_uang03] [char](5) NULL,
	[nama_bank03] [char](60) NULL,
	[rekening04] [char](18) NULL,
	[atas_nama04] [char](60) NULL,
	[mata_uang04] [char](5) NULL,
	[nama_bank04] [char](60) NULL,
	[rekening05] [char](18) NULL,
	[atas_nama05] [char](60) NULL,
	[mata_uang05] [char](5) NULL,
	[nama_bank05] [char](60) NULL,
	[modified_date] [datetime] NULL,
	[modified_by] [char](12) NULL,
 CONSTRAINT [PK_TB_S_MST_VENDOR] PRIMARY KEY CLUSTERED 
(
	[kode_vendor] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TB_S_TR_BATCH]    Script Date: 24/09/2022 15:07:13 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TB_S_TR_BATCH](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[nomor_po] [char](10) NULL,
	[item_po] [char](6) NULL,
	[kode_material] [char](7) NULL,
	[deskripsi_material] [varchar](40) NULL,
	[quantity] [decimal](13, 3) NULL,
	[satuan] [char](3) NULL,
	[batch] [varchar](60) NULL,
	[kadarluarsa] [datetime] NULL,
	[tanggal_produksi] [datetime] NULL,
	[temp_quantity] [decimal](13, 3) NULL,
	[status_receipt] [char](1) NULL,
	[modified_date] [datetime] NULL,
	[modified_by] [char](12) NULL,
 CONSTRAINT [PK_TB_S_TR_BATCH] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TB_S_TR_PO_DTL]    Script Date: 24/09/2022 15:07:13 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TB_S_TR_PO_DTL](
	[nomor_po] [char](10) NOT NULL,
	[item] [char](10) NOT NULL,
	[short_text] [varchar](255) NULL,
	[kode_barang] [varchar](18) NULL,
	[plant] [char](4) NULL,
	[storage_location] [char](4) NULL,
	[tracking_number] [varchar](30) NULL,
	[material_group] [char](5) NULL,
	[material_group_description] [varchar](40) NULL,
	[jumlah] [decimal](13, 3) NULL,
	[unit] [varchar](50) NULL,
	[base_unit] [varchar](50) NULL,
	[denominator] [varchar](50) NULL,
	[numerator] [varchar](50) NULL,
	[order_price_unit] [char](10) NULL,
	[net_order_price] [decimal](13, 3) NULL,
	[assignment] [varchar](50) NULL,
	[business_area] [char](10) NULL,
	[mrsrno] [varchar](50) NULL,
	[keterangan1] [varchar](100) NULL,
	[keterangan2] [varchar](100) NULL,
	[keterangan3] [varchar](100) NULL,
	[delivery_date] [datetime] NULL,
	[openquantitypo] [decimal](13, 3) NULL,
	[status] [bit] NULL,
	[modified_date] [datetime] NULL,
	[modified_by] [char](12) NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TB_S_TR_PO_HEAD]    Script Date: 24/09/2022 15:07:13 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TB_S_TR_PO_HEAD](
	[nomor_po] [char](10) NOT NULL,
	[dibuat_oleh] [char](12) NULL,
	[kode_Vendor] [char](10) NULL,
	[nama_vendor] [varchar](40) NULL,
	[top] [char](5) NULL,
	[p_group] [char](5) NULL,
	[mata_uang] [char](5) NULL,
	[tanggal_document] [datetime] NULL,
	[incoterms_1] [char](10) NULL,
	[incoterms_2] [varchar](255) NULL,
	[jatuh_tempo] [datetime] NULL,
	[tanggal_dibuat] [datetime] NULL,
	[plant] [char](4) NULL,
	[status] [bit] NULL,
	[category] [char](1) NULL,
	[modified_date] [datetime] NULL,
	[modified_by] [char](12) NULL,
 CONSTRAINT [PK_TB_S_TR_PO_HEAD] PRIMARY KEY CLUSTERED 
(
	[nomor_po] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TB_S_TR_PO_LAMPIRAN]    Script Date: 24/09/2022 15:07:13 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TB_S_TR_PO_LAMPIRAN](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[nomor_po] [char](10) NOT NULL,
	[alamat_berkas] [text] NULL,
	[nama_berkas] [text] NULL,
	[modified_date] [datetime] NULL,
	[modified_by] [char](12) NULL
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TB_S_TR_QUOTATION_NEGO_LAMPIRAN]    Script Date: 24/09/2022 15:07:13 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TB_S_TR_QUOTATION_NEGO_LAMPIRAN](
	[nomor_quotation] [char](10) NOT NULL,
	[ekuivalen] [char](1) NOT NULL,
	[urutan_berkas] [int] NOT NULL,
	[kode_barang] [varchar](18) NOT NULL,
	[alamat_berkas] [text] NULL,
	[nama_berkas_asli] [text] NULL,
	[nama_berkas] [text] NULL,
	[modified_date] [datetime] NULL,
	[modified_by] [char](12) NULL,
 CONSTRAINT [TB_S_TR_NEGO_LAMPIRAN] PRIMARY KEY CLUSTERED 
(
	[nomor_quotation] ASC,
	[ekuivalen] ASC,
	[urutan_berkas] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TB_TR_QUOTATION_LAMPIRAN]    Script Date: 24/09/2022 15:07:13 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TB_TR_QUOTATION_LAMPIRAN](
	[nomor_quotation] [char](10) NOT NULL,
	[ekuivalen] [char](1) NOT NULL,
	[urutan_berkas] [int] NOT NULL,
	[kode_barang] [varchar](18) NOT NULL,
	[alamat_berkas] [text] NULL,
	[nama_berkas_asli] [text] NULL,
	[nama_berkas] [text] NULL,
	[modified_date] [datetime] NULL,
	[modified_by] [char](12) NULL,
 CONSTRAINT [PK_TB_TR_QUOTATION_LAMPIRAN] PRIMARY KEY CLUSTERED 
(
	[nomor_quotation] ASC,
	[ekuivalen] ASC,
	[urutan_berkas] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
INSERT [dbo].[TB_S_MST_MATA_UANG] ([kode_uang], [deskripsi]) VALUES (N'ADP  ', N'Andorran Peseta --> (Old --> EUR)       ')
INSERT [dbo].[TB_S_MST_MATA_UANG] ([kode_uang], [deskripsi]) VALUES (N'AED  ', N'United Arab Emirates Dirham             ')
INSERT [dbo].[TB_S_MST_MATA_UANG] ([kode_uang], [deskripsi]) VALUES (N'AFA  ', N'Afghani (Old)                           ')
GO
INSERT [dbo].[TB_S_MST_NEGARA] ([kode_negara], [nama], [deletion], [modified_date], [modified_by]) VALUES (N'00 ', N'-                                                 ', N' ', CAST(N'2022-07-22T00:00:00.000' AS DateTime), N'SAP         ')
INSERT [dbo].[TB_S_MST_NEGARA] ([kode_negara], [nama], [deletion], [modified_date], [modified_by]) VALUES (N'AD ', N'Andorra                                           ', N' ', CAST(N'2022-07-22T00:00:00.000' AS DateTime), N'SAP         ')
INSERT [dbo].[TB_S_MST_NEGARA] ([kode_negara], [nama], [deletion], [modified_date], [modified_by]) VALUES (N'AE ', N'United Arab Emirates                              ', N' ', CAST(N'2022-07-22T00:00:00.000' AS DateTime), N'SAP         ')
GO
INSERT [dbo].[TB_S_MST_NEGO_BARANG_HEAD] ([nomor_rfq], [tanggal_rfq], [nomor_ph], [tanggal_jatuh_tempo], [kode_vendor], [nama_vendor], [modified_date], [modified_by]) VALUES (N'6200272851', CAST(N'2022-07-18T00:00:00.000' AS DateTime), N'PC22000005', CAST(N'2022-08-22T00:00:00.000' AS DateTime), N'10107     ', N'PT KOGELAHAR INDONUSA', NULL, NULL)
INSERT [dbo].[TB_S_MST_NEGO_BARANG_HEAD] ([nomor_rfq], [tanggal_rfq], [nomor_ph], [tanggal_jatuh_tempo], [kode_vendor], [nama_vendor], [modified_date], [modified_by]) VALUES (N'6200272854', CAST(N'2022-07-23T00:00:00.000' AS DateTime), N'PC22000010', CAST(N'2022-08-22T00:00:00.000' AS DateTime), N'11142     ', N'PT KIMIA FARMA APOTEK', NULL, NULL)
INSERT [dbo].[TB_S_MST_NEGO_BARANG_HEAD] ([nomor_rfq], [tanggal_rfq], [nomor_ph], [tanggal_jatuh_tempo], [kode_vendor], [nama_vendor], [modified_date], [modified_by]) VALUES (N'6200272855', CAST(N'2022-07-23T00:00:00.000' AS DateTime), N'PC22000010', CAST(N'2022-08-22T00:00:00.000' AS DateTime), N'10035     ', N'APOTIK LIA', NULL, NULL)
GO
INSERT [dbo].[TB_S_MST_PENGGUNA] ([kode_vendor], [sandi], [nama], [deletion], [first_login], [modified_date], [modified_by]) VALUES (N'10017     ', N'5f4dcc3b5aa765d61d8327deb882cf99', N'CV EKA TEKNIK                                     ', N'0', 0, CAST(N'2022-07-09T14:59:57.083' AS DateTime), N'SAP         ')
INSERT [dbo].[TB_S_MST_PENGGUNA] ([kode_vendor], [sandi], [nama], [deletion], [first_login], [modified_date], [modified_by]) VALUES (N'10018     ', N'S1mE5uvk', N'CV EMBARA                                         ', N'0', 1, CAST(N'2022-07-13T00:00:00.000' AS DateTime), N'SAP         ')
INSERT [dbo].[TB_S_MST_PENGGUNA] ([kode_vendor], [sandi], [nama], [deletion], [first_login], [modified_date], [modified_by]) VALUES (N'10028     ', N'e8219d4c93f6c55c6b10fe6bfe997c6c', N'CV KING MOBIL JAYA                                ', N'0', 0, CAST(N'2022-07-22T15:17:33.673' AS DateTime), N'SAP         ')
GO
INSERT [dbo].[TB_S_MST_PROVINSI] ([kode_provinsi], [nama], [deletion], [modified_date], [modified_by]) VALUES (N'00 ', N'-                                                 ', N' ', CAST(N'2022-07-22T00:00:00.000' AS DateTime), N'SAP         ')
INSERT [dbo].[TB_S_MST_PROVINSI] ([kode_provinsi], [nama], [deletion], [modified_date], [modified_by]) VALUES (N'01 ', N'NAD                                               ', N' ', CAST(N'2022-07-22T00:00:00.000' AS DateTime), N'SAP         ')
INSERT [dbo].[TB_S_MST_PROVINSI] ([kode_provinsi], [nama], [deletion], [modified_date], [modified_by]) VALUES (N'02 ', N'Sumatera Utara                                    ', N' ', CAST(N'2022-07-22T00:00:00.000' AS DateTime), N'SAP         ')
GO
INSERT [dbo].[TB_S_MST_RFQ_BARANG_HEAD] ([nomor_rfq], [tanggal_rfq], [nomor_ph], [tanggal_jatuh_tempo], [kode_vendor], [nama_vendor], [modified_date], [modified_by]) VALUES (N'6200272851', CAST(N'2022-09-17T00:00:00.000' AS DateTime), N'PC22000005', CAST(N'2022-09-18T00:00:00.000' AS DateTime), N'10107     ', N'PT KOGELAHAR INDONUSA', NULL, NULL)
INSERT [dbo].[TB_S_MST_RFQ_BARANG_HEAD] ([nomor_rfq], [tanggal_rfq], [nomor_ph], [tanggal_jatuh_tempo], [kode_vendor], [nama_vendor], [modified_date], [modified_by]) VALUES (N'6200272854', CAST(N'2022-09-17T00:00:00.000' AS DateTime), N'PC22000010', CAST(N'2022-09-18T00:00:00.000' AS DateTime), N'11142     ', N'PT KIMIA FARMA APOTEK', NULL, NULL)
INSERT [dbo].[TB_S_MST_RFQ_BARANG_HEAD] ([nomor_rfq], [tanggal_rfq], [nomor_ph], [tanggal_jatuh_tempo], [kode_vendor], [nama_vendor], [modified_date], [modified_by]) VALUES (N'6200272855', CAST(N'2022-09-17T00:00:00.000' AS DateTime), N'PC22000010', CAST(N'2022-09-18T00:00:00.000' AS DateTime), N'10035     ', N'APOTIK LIA', NULL, NULL)
GO
INSERT [dbo].[TB_S_MST_RFQ_LAMPIRAN_BARANG] ([nomor_rfq], [kode_barang], [alamat_berkas], [nama_berkas], [sudah_gabung], [modified_date], [modified_by]) VALUES (N'6200272851', N'7020498', N'PC22000005000000000007020498.pdf', N'PC22000005000000000007020498.pdf', N'0', CAST(N'2022-07-18T00:00:00.000' AS DateTime), N'SAP         ')
INSERT [dbo].[TB_S_MST_RFQ_LAMPIRAN_BARANG] ([nomor_rfq], [kode_barang], [alamat_berkas], [nama_berkas], [sudah_gabung], [modified_date], [modified_by]) VALUES (N'6200272854', N'7021125', N'PC22000010000000000007021125.pdf', N'PC22000010000000000007021125.pdf', N'0', CAST(N'2022-07-23T00:00:00.000' AS DateTime), N'SAP         ')
INSERT [dbo].[TB_S_MST_RFQ_LAMPIRAN_BARANG] ([nomor_rfq], [kode_barang], [alamat_berkas], [nama_berkas], [sudah_gabung], [modified_date], [modified_by]) VALUES (N'6200272855', N'7021125', N'PC22000010000000000007021125.pdf', N'PC22000010000000000007021125.pdf', N'0', CAST(N'2022-07-23T00:00:00.000' AS DateTime), N'SAP         ')
GO
INSERT [dbo].[TB_S_MST_SATUAN] ([satuan], [deskripsi_satuan]) VALUES (N'%  ', N'%         ')
INSERT [dbo].[TB_S_MST_SATUAN] ([satuan], [deskripsi_satuan]) VALUES (N'%O ', N'%0        ')
INSERT [dbo].[TB_S_MST_SATUAN] ([satuan], [deskripsi_satuan]) VALUES (N'1  ', N'One       ')
GO
SET IDENTITY_INSERT [dbo].[TB_S_TR_BATCH] ON 

INSERT [dbo].[TB_S_TR_BATCH] ([id], [nomor_po], [item_po], [kode_material], [deskripsi_material], [quantity], [satuan], [batch], [kadarluarsa], [tanggal_produksi], [temp_quantity], [status_receipt], [modified_date], [modified_by]) VALUES (1, N'4150000001', N'1001  ', N'A002   ', N'lorem ipsum', CAST(120.000 AS Decimal(13, 3)), N'BOX', N'BT001', CAST(N'2022-08-01T00:00:00.000' AS DateTime), CAST(N'2022-05-09T00:00:00.000' AS DateTime), CAST(120.000 AS Decimal(13, 3)), N' ', CAST(N'2022-09-24T07:40:04.000' AS DateTime), N'10049       ')
INSERT [dbo].[TB_S_TR_BATCH] ([id], [nomor_po], [item_po], [kode_material], [deskripsi_material], [quantity], [satuan], [batch], [kadarluarsa], [tanggal_produksi], [temp_quantity], [status_receipt], [modified_date], [modified_by]) VALUES (2, N'4150000001', N'1002  ', N'A001   ', N'lorem ipsum', CAST(100.000 AS Decimal(13, 3)), N'BOX', N'BT002', CAST(N'2022-09-10T00:00:00.000' AS DateTime), CAST(N'2022-05-10T00:00:00.000' AS DateTime), CAST(100.000 AS Decimal(13, 3)), N' ', CAST(N'2022-09-24T07:40:04.000' AS DateTime), N'10049       ')
SET IDENTITY_INSERT [dbo].[TB_S_TR_BATCH] OFF
GO
INSERT [dbo].[TB_S_TR_PO_HEAD] ([nomor_po], [dibuat_oleh], [kode_Vendor], [nama_vendor], [top], [p_group], [mata_uang], [tanggal_document], [incoterms_1], [incoterms_2], [jatuh_tempo], [tanggal_dibuat], [plant], [status], [category], [modified_date], [modified_by]) VALUES (N'4150000001', N'system      ', N'10049     ', N'CV PUTRA TEKNIK', NULL, NULL, N'IDR  ', CAST(N'2022-09-14T00:00:00.000' AS DateTime), NULL, NULL, CAST(N'2022-09-23T00:00:00.000' AS DateTime), CAST(N'2022-09-14T00:00:00.000' AS DateTime), NULL, 0, NULL, CAST(N'2022-09-14T00:00:00.000' AS DateTime), N'system      ')
INSERT [dbo].[TB_S_TR_PO_HEAD] ([nomor_po], [dibuat_oleh], [kode_Vendor], [nama_vendor], [top], [p_group], [mata_uang], [tanggal_document], [incoterms_1], [incoterms_2], [jatuh_tempo], [tanggal_dibuat], [plant], [status], [category], [modified_date], [modified_by]) VALUES (N'4150000002', N'system      ', N'10049     ', N'CV PUTRA TEKNIK', NULL, NULL, N'IDR  ', CAST(N'2022-09-14T00:00:00.000' AS DateTime), NULL, NULL, CAST(N'2022-09-23T00:00:00.000' AS DateTime), CAST(N'2022-09-14T00:00:00.000' AS DateTime), NULL, 0, NULL, CAST(N'2022-09-14T00:00:00.000' AS DateTime), N'system      ')
GO
SET IDENTITY_INSERT [dbo].[TB_S_TR_PO_LAMPIRAN] ON 

INSERT [dbo].[TB_S_TR_PO_LAMPIRAN] ([id], [nomor_po], [alamat_berkas], [nama_berkas], [modified_date], [modified_by]) VALUES (1, N'4150000001', N'4150000001_01.pdf', N'4150000001_01.pdf', CAST(N'2022-09-19T00:00:00.000' AS DateTime), N'system      ')
INSERT [dbo].[TB_S_TR_PO_LAMPIRAN] ([id], [nomor_po], [alamat_berkas], [nama_berkas], [modified_date], [modified_by]) VALUES (2, N'4150000001', N'4150000001_02.pdf', N'4150000001_02.pdf', CAST(N'2022-09-19T00:00:00.000' AS DateTime), N'system      ')
SET IDENTITY_INSERT [dbo].[TB_S_TR_PO_LAMPIRAN] OFF
GO
INSERT [dbo].[TB_S_TR_QUOTATION_NEGO_LAMPIRAN] ([nomor_quotation], [ekuivalen], [urutan_berkas], [kode_barang], [alamat_berkas], [nama_berkas_asli], [nama_berkas], [modified_date], [modified_by]) VALUES (N'6200251371', N'0', 1, N'7063515', N'upload_files/dokumen_quotation/6200251371/', N'Capture.JPG', N'20220711_6200251371_0_1.JPG', CAST(N'2022-07-11T06:13:31.000' AS DateTime), N'WEB         ')
INSERT [dbo].[TB_S_TR_QUOTATION_NEGO_LAMPIRAN] ([nomor_quotation], [ekuivalen], [urutan_berkas], [kode_barang], [alamat_berkas], [nama_berkas_asli], [nama_berkas], [modified_date], [modified_by]) VALUES (N'6200251371', N'1', 1, N'7063515', N'upload_files/dokumen_quotation/6200251371/', N'Capture.PNG', N'20220711_6200251371_1_1.PNG', CAST(N'2022-07-11T03:36:47.000' AS DateTime), N'WEB         ')
INSERT [dbo].[TB_S_TR_QUOTATION_NEGO_LAMPIRAN] ([nomor_quotation], [ekuivalen], [urutan_berkas], [kode_barang], [alamat_berkas], [nama_berkas_asli], [nama_berkas], [modified_date], [modified_by]) VALUES (N'6200251371', N'2', 1, N'7063515', N'upload_files/dokumen_quotation/6200251371/', N'Capture.PNG', N'20220711_6200251371_2_1.PNG', CAST(N'2022-07-11T04:35:35.000' AS DateTime), N'WEB         ')
GO
INSERT [dbo].[TB_TR_QUOTATION_LAMPIRAN] ([nomor_quotation], [ekuivalen], [urutan_berkas], [kode_barang], [alamat_berkas], [nama_berkas_asli], [nama_berkas], [modified_date], [modified_by]) VALUES (N'6200251371', N'0', 1, N'7063515', N'upload_files/dokumen_quotation/6200251371/', N'Capture.JPG', N'20220711_6200251371_0_1.JPG', CAST(N'2022-07-11T06:13:31.000' AS DateTime), N'WEB         ')
INSERT [dbo].[TB_TR_QUOTATION_LAMPIRAN] ([nomor_quotation], [ekuivalen], [urutan_berkas], [kode_barang], [alamat_berkas], [nama_berkas_asli], [nama_berkas], [modified_date], [modified_by]) VALUES (N'6200251371', N'1', 1, N'7063515', N'upload_files/dokumen_quotation/6200251371/', N'Capture.PNG', N'20220711_6200251371_1_1.PNG', CAST(N'2022-07-11T03:36:47.000' AS DateTime), N'WEB         ')
INSERT [dbo].[TB_TR_QUOTATION_LAMPIRAN] ([nomor_quotation], [ekuivalen], [urutan_berkas], [kode_barang], [alamat_berkas], [nama_berkas_asli], [nama_berkas], [modified_date], [modified_by]) VALUES (N'6200251371', N'2', 1, N'7063515', N'upload_files/dokumen_quotation/6200251371/', N'Capture.PNG', N'20220711_6200251371_2_1.PNG', CAST(N'2022-07-11T04:35:35.000' AS DateTime), N'WEB         ')
GO
ALTER TABLE [dbo].[TB_S_MST_KONFIRMASI] ADD  CONSTRAINT [DF_TB_S_MST_KONFIRMASI_kode_konfirmasi]  DEFAULT ((0)) FOR [kode_konfirmasi]
GO
